table th,
table td {
  white-space: nowrap;
}

.ezmf-modal-field-title {
  margin-right: 10px;
}

.actionButtonWidth {
  width: 195px;
}

.esmf-ModalFormEditButton {
  float: left;
  margin-right: 10px;
}

.esmf-ModalFormDeleteButton {
  float: right;
  margin-right: 10px;
}

.esm-menu {
  font-size:20px;
  cursor:pointer;
}

.esm-sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.esm-sidenav span {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.esm-sidenav navButton:hover {
  color: #f1f1f1;
}

.esm-sidenav .closeButton {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  cursor:pointer;
}

.esm-sidenav .navButton {
  cursor:pointer;
}

#esm-main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .esm-sidenav {padding-top: 15px;}
  .esm-sidenav a {font-size: 18px;}
}